---
layout: content-only
permalink: feed.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.title | xmlEscape }}</title>
    <description>{{ site.description | xmlEscape }}</description>
    <link>{{ site.url }}</link>
    <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml" />
    {% for post in collections.posts limit:10 %}
      <item>
        <title>{{ post.title | xmlEscape }}</title>
        <description>{{ post.content | xmlEscape }}</description>
        {% comment %} https://html.spec.whatwg.org/multipage/common-microsyntaxes.html#valid-date-string {% endcomment %}
        <pubDate>{{ post.date | dateFormat: "yyyy-LL-dd" }}</pubDate>
        <link>{{ site.url }}{{ post.url }}</link>
        <guid isPermaLink="true">{{ site.url }}{{ post.url }}</guid>
      </item>
    {% endfor %}
  </channel>
</rss>
