---
title: ESLint - Pluggable JavaScript linter
layout: default
permalink: index.html
homepage: true
---

<div class="row">
    <div class="col-md-4">
        <h3>Find Problems</h3>
        <p>ESLint statically analyzes your code to quickly find problems. ESLint is built into most text editors and you can run ESLint as part of your continuous integration pipeline.</p>
    </div>
    <div class="col-md-4">
        <h3>Fix Automatically</h3>
        <p>Many problems ESLint finds can be automatically fixed. ESLint fixes are syntax-aware so you won't experience errors introduced by traditional find-and-replace algorithms.</p>
    </div>
    <div class="col-md-4">
        <h3>Customize</h3>
        <p>Preprocess code, use custom parsers, and write your own rules that work alongside ESLint's built-in rules. You can customize ESLint to work exactly the way you need it for your project.</p>
    </div>
</div>

<hr class="hr-near-below">
{% assign tiers = "gold,silver,bronze,backers" | split: "," %}
{% assign monthlyTotal = 0 %}
{% assign supportersCount = 0 %}
{% for tier in tiers %}
    {% if sponsors[tier].size > 0 %}
        {% for sponsor in sponsors[tier] %}
            {% assign supportersCount = supportersCount | plus: 1 %}
            {% assign monthlyTotal = monthlyTotal | plus: sponsor.monthlyDonation %}
        {% endfor %}
    {% endif %}
{% endfor %}
{% assign monthlyTotal = monthlyTotal | divided_by: 100 %}

<div class="row">
  <div class="col-sm-12">
    <h2 class="text-center">Sponsors</h2>
    <p class="text-center">{{ supportersCount }} companies, organizations, and individuals are currently contributing <b>${{ monthlyTotal }}</b> each month to support ESLint's ongoing maintenance and development.</p>
    {% assign tiers = "gold,silver,bronze" | split: "," %}
    {% for tier in tiers %}
        {% if sponsors[tier].size > 0 %}
            <h3 class="text-center">{{ tier | capitalize }} Sponsors</h3>
            <div class="sponsors text-center">
                {% for sponsor in sponsors[tier] %}
                    <a href="{{ sponsor.url }}" title="{{ sponsor.name }}" rel="noopener nofollow" target="_blank"><img class="lazyload {{ tier }}-sponsor" data-src="{{ sponsor.image }}" alt="{{ sponsor.name }}"></a>
                {% endfor %}
            </div>
            <p class="text-center"><a class="btn btn-default" href="https://opencollective.com/eslint">Become a Sponsor</a></p>
        {% endif %}
    {% endfor %}
    <h3 class="text-center">Hosting</h3>
    <div class="sponsors text-center">
        <a href="https://www.netlify.com" rel="noopener nofollow" target="_blank">
            <img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg"/>
        </a>
    </div>
  </div>
</div>

<hr class="hr-near-below">

<div class="row">
    <div class="col-sm-12">
        ESLint requires <a href="http://nodejs.org">Node.js</a> and works
        on <span itemprop="operatingSystem">Windows</span>,
        <span itemprop="operatingSystem">Mac</span> and <span itemprop="operatingSystem">Linux</span>
    </div>
</div>
