<hr>
<div class="container">
  <footer>
    <ul class="list-inline" style="text-align: center;">
      <li><a href="{{ site.links.mailingList }}"><i class="fab fa-google fa-2x"></i></a></li>
      <li><a href="{{ site.links.github }}"><i class="fab fa-github fa-2x"></i></a></li>
      <li><a href="{{ site.links.twitter }}"><i class="fab fa-twitter fa-2x"></i></a></li>
      <li><a href="{{ site.links.chat }}"><i class="fab fa-discord fa-2x"></i></a></li><br>
      <li>Copyright OpenJS Foundation and other contributors, <a href="https://openjsf.org/">OpenJs Foundation</a></li>
      {% if edit_link %}
        <li><a href="{{ edit_link }}">Edit this page</a></li>
      {% else %}
        <li><a href="https://github.com/eslint/website/edit/master/{{ page.inputPath }}">Edit this page</a></li>
      {% endif %}
    </ul>
  </footer>
</div>
<script src="/assets/js/main.js"></script>    
<script src="https://kit.fontawesome.com/6ebce1c175.js" crossorigin="anonymous"></script>
