<hr>
<div class="container">
  <footer>
    <ul class="list-inline">
      {% if edit_link %}
        <li><a href="{{ edit_link }}">Edit this page</a></li>
      {% else %}
        <li><a href="https://github.com/eslint/website/edit/master/{{ page.inputPath }}">Edit this page</a></li>
      {% endif %}
      <li><a href="{{ site.links.mailingList }}">Mailing List</a></li>
      <li><a href="{{ site.links.github }}">GitHub</a></li>
      <li><a href="{{ site.links.twitter }}">Twitter</a></li>
      <li><a href="{{ site.links.chat }}">Chat Room</a></li>
      <li>Copyright OpenJS Foundation and other contributors, <a href="https://openjsf.org/">https://openjsf.org/</a></li>
    </ul>
  </footer>
</div>
<script src="/assets/js/main.js"></script>
