<!DOCTYPE html>
<html lang="en" class="no-js">
{% include head %}
{% if site.banner.text %}
  <body class="banner-displayed">
{% else %}
  <body>
{% endif %}
  {% include menu %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <main class="blog">
          <article>
            <h1>{{ title }}</h1>
            {% if author != null %}
              by <a href="https://github.com/{{ author }}"><b>{{ all_authors[author].name }}</b></a><em> - </em>
            {% elsif authors != null %}
              by 
                  {% for member in authors %}
                    {% if forloop.last == true %}
                      <a href="https://github.com/{{ member }}"><b>{{ all_authors[member].name }}</b></a>
                    {% else %}
                      <a href="https://github.com/{{ member }}"><b>{{ all_authors[member].name }},</b></a>
                    {% endif %}
                  {% endfor %}
              <em> - </em>
            {% endif %}<em>{{ page.date | dateFormat: "d LLLL yyyy" }}</em>
            <br />
            {% if original %}
            <br />
              This post originally appeared on <a href={{original.site.url}}>{{ original.site.name }}</a> on <a href={{original.url}}>{{ original.date | dateFormat: "d LLLL yyyy" }}</a>.
            <br />
            {% endif %}
            <br />
            {% if teaser %}
            <p>{{ teaser }}</p>
            {% endif %}
            {{ content }}
            <footer>
              <p class="text-center">ESLint depends on the support of individuals and companies. <a class="btn btn-default" href="https://opencollective.com/eslint">Become a Sponsor</a></p>
            </footer>
          </article>
        </main>
      </div>
      <div class="col-md-4 hidden-xs hidden-sm">
        <div class="eslint-ad-float-left">
        {%include ad %}
        </div>
        <div>
          <h2>Recent Posts</h2>
          <ul class="posts">
            {% for post in collections.posts limit: 25 %}
              {% if post.url != page.url %}
                <li>
                  <a href="{{ post.url | replace: '.html', '' }}">{{ post.data.title }}</a><br>
                  <span class="date">{{ post.date | dateFormat: "d LLLL yyyy" }}</span>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% include footer %}
</body>
</html>
